/.vs
/base64_en/.vs
/*/x86/
/*/x64/
/*/Debug/
/*/Release/
*.user
/base64_en/.vs
/base64_en/x64
/base64_en/out
/base64_en/build
/out
/ipch
/Debug
*.txt
*.base64
*.b64decode
*.jpg
*.png
*.mp4
*.suo
*.sdf